.detail-properties{
  display: flex;
  flex-direction: column;
  gap: 2em;
  height: 100%;
  

  &__item{
    display: flex;
  }

  &__title{
    flex: 0 0 5em;
    font-weight: bold;
  }

  &__content{
    flex: 1 1 auto;
  }
}