@use 'sass:color';
@import '/src/styles/variables';
@import '/src/styles/global';

.user-sidebar{
  position: fixed;
  top: 0;
  display: flex;
  flex-flow: column;
  gap: 1em;
  width: $sidebar-width;
  height: 100vh;
  padding: 1em;
  background-color: $secondary-color;
}
  