@import "/src/styles/variables";
@import "/src/styles/global";

.image-slide {
  position: relative;
  flex-grow: 1;
  width: 100%;
  height: 20em;

  img {
    z-index: 1;
    width: fit-content;
  }

  &__background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover !important;
    width: 100%;
    height: 100%;
    filter: blur(5px);
    opacity: 0.8; /* optional */
  }

  .swiper {
    width: 100%;
    height: 100%;

    .swiper-slide {
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 18px;
      text-align: center;
      background: #fff;
    }

    .swiper-slide img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
 
    }

    &-button-prev,
    &-button-next {
      background-color: rgba($color: #fff, $alpha: 70%);
      color: $primary-font-color;
      transform: scale(0.5);
    }
  }

  .swiper__navigation {
    position: absolute;
    top: 45%;
    z-index: 1;
    font-size: 0.6em;

    &__prev {
      left: 1em;
    }

    &__next {
      right: 1em;
    }
  }
}
