.manage-table{
  table {
    width: 100%;
    border: 1px solid lightgray;
    
  }
  
  tbody {
    border-bottom: 1px solid lightgray;
  }
  
  th {
    padding: 2px 4px;
    border-right: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    font-weight: bold;
  }
  
  tfoot {
    color: gray;
  }

}