// components/Card/Row
@use "sass:map";
@import "/src/styles/variables";
@import "/src/styles/global";

$card-config: (
  mobile:(height: 100px,
    width: 100%,
    img-height: 100%,
    img-width: 20px,
  ),
  tablet:(height: 300px,
    width: 50%,
    img-height: 130px,
    img-width: 100%,
  ),
  laptop: (height: 380px,
    width: 25%,
    img-height: 130px,
    img-width: 100%),
  desktop: (height: 400px,
    width: 20%,
    img-height: 130px,
    img-width: 100%)
);


.card {
  @each $key,
  $value in $card-config {
    $height: map.get($value, height);
    $width: map.get($value, width);
    $img-width: map.get($value, img-width);
    $img-height: map.get($value, img-height);

    @include media($key) {
      @include setSize($width, $height);
    }

    &__image {
      @include media($key) {
        @include setSize($img-width, $img-height)
      }
    }

  }

  flex: 0 0 auto;
  padding: 1em;

  &__container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-shadow: rgb(99 99 99 / 20%) 0 2px 8px 0;
  }


  &__image {
    flex: 0 0 auto;
    overflow: hidden;
    cursor: pointer;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform 0.5s;
    }
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    flex-flow: column;
    padding: 1em;
    cursor: pointer;
  }

  &__title {
    overflow: hidden;
    height: 2em;
    font-size: 1em;
    line-height: 1em;
  }

  &__detail {
    flex: 1 1 auto;
  }

  &__tags {
    display: flex;
    flex-flow: row nowrap;
    gap: 0.5em;
    overflow-x: auto;
    padding: 0.2em;
    font-size: 0.5em;

    &::-webkit-scrollbar {
      height: 2px;
      background-color: #F5F5F5;
    }

    &::-webkit-scrollbar-thumb {
      border: 2px solid $secondary-font-color;
      background-color: $secondary-font-color;
    }

  }


  &__control {
    margin-top: 0;
    padding: 0 1em;
  }


  // hovering make image scale
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}