// components/Card/Row
@import "/src/styles/variables";
@import "/src/styles/global";

.card {
  @include media(mobile) {
    width: 100%;
  }

  @include media(tablet) {
    width: 50%;
  }

  @include media(laptop) {
    width: 25%;
  }

  flex: 0 0 auto;
  width: 20%;
  font-size: 1rem;

  &__container {
    @include media(mobile) {
      flex-direction: row;
      height: 100px;
      margin: 0.5rem 0;
    }

    @include media(tablet){
      height: 400px;
    }

    @include media(laptop){
      height: 350px;
    }

    @include media(desktop){
      height: 350px;
    }

    position: relative;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 1em;
    border-radius: 0.25rem;
    background-color: white;
    box-shadow: 0 10px 20px -7px rgb(0 0 0 / 25%);
    font-size: 1em;

    // bottom color bar
    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      width: 100%;
      height: 2px;
      background-color: $primary-color;
    }

  }

  &__image {
    @include media(mobilt, tablet) {
      flex: 0 0 10em;
      padding-bottom: 2px; // escape ::after color bar
    }

    @include media(laptop) {
      flex: 0 0 8em;
    }

    flex: 0 0 6em;
    overflow: hidden;

    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      transition: transform 0.5s;
    }
  }

  &__content {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    padding: 1em;

  }

  &__title {
    @include media(mobile){
      flex: 0 0 1.5em
      
    }

    flex: 0 0 2.5em;
    overflow: hidden;
    font-weight: bold;
  }

  &__detail {
    @include media(mobile){
      flex: 1 1 3em;
    }

    flex: 2 1 5em;
    overflow: hidden;
    color: $secondary-font-color;
    font-size: 0.6em;
    line-height: 1.5em;
  }

  &__tags {
    @include media(mobile){
      flex-flow: nowrap;
    }

    display: flex; 
    flex-flow: wrap;
    gap: 10px;
    align-items:  flex-end;
    overflow: hidden;
    height: 50px;
    font-size: 0.5em;

    >*{
      height: 20px
    }

  }

  &__control {
    flex: 0 0 1em;
    height: 1em;  
    white-space: nowrap;
  }


  // hovering make image scale
  &:hover {
    img {
      transform: scale(1.2);
    }
  }
}