@import "/src/styles/variables";
@import "/src/styles/global";

.main-card-control {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.6em;
  

  &__watch {
    display: flex;
    gap: 0.5em;
    align-items: center;
  }

  &__follow {
    &--active {
      .button__icon {
        color: $danger-color;
      }
    }

    &:hover {
      background-color: white;

      .button__icon {
        color: $danger-color;
      }
    }
  }
}
