@import '/src/styles/variables';

.main-card{
  &__detail{
    padding: 0.5em 0;
    color: $secondary-font-color;
    font-size: 0.7em;

    ul,li{
      color: inherit
    }

    ul{
      padding-left:1em;
      list-style-type: circle;
    }
  }

}