@import '/src/styles/variables';
@import '/src/styles/global';

.manage {
  display: flex;
  flex-flow: column;
  gap: 1em;

  &__control{
    display: flex;
    gap: 1em;
    padding: 1em ;
  }

  &__control-link{
    position: relative;
    font-size: 1.2em;

    &::after{
      content: "";
      position: absolute;
      display: block;
      width: 0%;
      height: 3px;
      background-color: $primary-font-color;
      transition: all 0.5s;
    }

    &.active{
      &::after{
        width: 100%;
      }
    }
  }
}