@import '/src/styles/variables';
@import '/src/styles/global';

.alert{
  display: flex;
  gap: 1em;
  align-items: center;
  padding: 1em;
  border-radius: 0.2em;
  background-color: $danger-dilute-color;

  &__title{
    font-weight: bold;
  }
}