@import "https://fonts.googleapis.com/css?family=Montserrat";

$width: 15px;
$height: 15px;
$bounce-height: 30px;


.wrap {
  position: absolute;
  top: 50%;
  left: 45%;
  transform: translate(-50%, -50%);
  transform: scale(2);
}

.text {
  display: inline-block;
  margin-left: 5px;
  color: #fbae17;
}

.bounceball {
  position: relative;
  display: inline-block;
  width: $width;
  height: 37px;
  margin-right: 0.5rem;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    display: block;
    width: $width;
    height: $height;
    border-radius: 50%;
    background-color: #fbae17;
    transform-origin: 50%;
    animation: bounce 500ms alternate infinite ease;
  }
}

@keyframes bounce {
  0% {
    top: $bounce-height;
    height: 5px;
    border-radius: 60px 60px 20px 20px;
    transform: scaleX(2);
  }

  35% {
    height: $height;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0;
  }
}
