@import "/src/styles/variables";
@import "/src/styles/global";

.form-input {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: fit-content;
  font-size: 1em;

  &__container {
    position: relative;
    height: 3em;
  }

  &__label {
    @include style-form-label;
  }

  &__input {
    @include style-form-input;

    &::placeholder {
      color: $secondary-font-color;
    }
  }

  &__error-message{
    height: 1.1em;
    color: $danger-color;
    font-size: 0.8em;
  }
}
