@import '/src/styles/variables';
@import '/src/styles/global';

.detail {
  @include container-main;

  background-color: $content-background-color;

  &__backlink{
    position: absolute;
    z-index: $zindex-navbar;
  }
  

  &__hero{
    @include media(mobile){
      flex-direction: column;
    }

    display: flex;
  }
  
  &__hero-left, &__hero-right{
    @include media(mobile){
      width: 100%;
    }

    gap: 1em;
    width: 50%;
    margin: 1em;
    background-color: white;
  }

  &__hero-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 1.5em;
  }
  
  &__tags{
    display:flex;
    flex-flow: row wrap;
    gap: 1em;
    font-size: 0.5em;
  }

  &__main{
    display: flex;
    flex-direction: column;
    gap: 1em;
  }

  &__header{
    margin-bottom: 0.5em;
    font-weight: bold;
    font-size: 1.5em;
  }

  &__item{
    background-color: white;
  }
}