@import '/src/styles/variables';
@import '/src/styles/global';

.nav{
  display: flex;
  flex: 1 0 auto;
  gap: 1em;
  justify-content: center ;
  margin: 0 auto;
  
  

  &__link{
    position: relative;
    margin-bottom: 5px;
    color:$primary-font-color;
    font-weight: bold ;
    transition: 0.3s ease-in-out;
    
    &::after{
      content: "";
      position: absolute;
      bottom: -2px;
      left: 0;
      width: 70%;
      height: 1.5px;
      background-color: $primary-font-color;
      transition: 0.3s ease-in-out;
    }
    
    &:hover{
      color: $secondary-font-color;

      &::after{
        width: 100%;
        background-color: $secondary-font-color;
      }
    }

    
  }
}