@import '/src/styles/variables';
@import '/src/styles/global';

.profile {
  @include container-main;

  &__avatar{
    object-fit: cover;
    width: 5em;
    height: 5em;
    border-radius: 50%;
  }

  &__inputs{
    display: flex;
    flex-flow: row wrap;
    gap: 1em;
    width: 80%;
    
    > *{
      flex: 1 0 auto;
      
    }
    
  }
  

  &__gender, &__county, &__area, &__birthday{
    flex: 0 0 10em;
  }

  &__control {
    display: flex;
    gap:1em;
    margin: 1em 0;
  }
}