@import '/src/styles/variables';
@import '/src/styles/global';

.verify{
  @include container-main;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  gap: 1em;
  justify-content: center;
  align-items: center;

  &__input{
    max-width: 20em;
  }

  &__control{
    display: flex;
    gap: 1em;
  }
}