@use 'sass:color';
@import '/src/styles/variables';
@import '/src/styles/global';

.user-sidebar-item{
  display: flex;
  gap:0.5em;
  padding: 1em;
  border-radius: 0.3em;
  color: white;
  font-weight: bold;

  &.active,
  &:hover {
    background-color: $secondary-dilute-color;
    color: color.adjust($secondary-color, $lightness: -20%);
  }

  &__icon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: inherit;
    font-size: 0.8em;
    * { color: inherit; }
  }

  &__text {
    display: flex;
    width: max-content;
    color: inherit;
  }
}