@import "/src/styles/variables";
@import "/src/styles/global";

.error {
  display: flex;
  flex-direction: column;

  &__main {
    @include container-main;

    display: flex;
    flex-direction: column;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 80vh;
  }
}
